.customer-container {
  padding: 30px;
}

.customer-form {

  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 15px;

  margin-bottom: 20px;
}

.customer-form input {

  padding: 12px;

  border: 1px solid #ccc;

  border-radius: 8px;
}

.customer-form button {

  padding: 12px;

  border: none;

  background: black;

  color: white;

  border-radius: 8px;

  cursor: pointer;
}

.search-box {

  width: 300px;

  padding: 12px;

  margin-bottom: 20px;

  border: 1px solid #ccc;

  border-radius: 8px;
}

table {

  width: 100%;

  border-collapse: collapse;
}

table th,
table td {

  border: 1px solid #ddd;

  padding: 12px;

  text-align: center;
}

.edit-btn,
.delete-btn,
.back-btn {

  width: 35px;

  height: 35px;

  border: none;

  border-radius: 50%;

  cursor: pointer;
}

.edit-btn {
  background: orange;
}

.delete-btn {
  background: red;
  color: white;
}

.back-btn {

  background: black;

  color: white;

  margin-bottom: 20px;
}